<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>battle_moniter.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>247</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>bottom_base.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>btn_pause.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>cd.png</key>
		<dict>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>315</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>63</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>circle.png</key>
		<dict>
			<key>x</key>
			<integer>842</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>182</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>182</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>crystal_number.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>398</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>fireball.png</key>
		<dict>
			<key>x</key>
			<integer>940</integer>
			<key>y</key>
			<integer>359</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>fort_icon_left.png</key>
		<dict>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>fort_icon_right.png</key>
		<dict>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>health_box_left.png</key>
		<dict>
			<key>x</key>
			<integer>810</integer>
			<key>y</key>
			<integer>27</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>214</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>health_box_right.png</key>
		<dict>
			<key>x</key>
			<integer>810</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>214</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>health_left.png</key>
		<dict>
			<key>x</key>
			<integer>858</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>166</integer>
			<key>originalHeight</key>
			<integer>16</integer>
		</dict>
		<key>health_number.png</key>
		<dict>
			<key>x</key>
			<integer>864</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>health_right.png</key>
		<dict>
			<key>x</key>
			<integer>858</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>166</integer>
			<key>originalHeight</key>
			<integer>16</integer>
		</dict>
		<key>health_slash.png</key>
		<dict>
			<key>x</key>
			<integer>826</integer>
			<key>y</key>
			<integer>178</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>14</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>lane_hl.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>mine_01.png</key>
		<dict>
			<key>x</key>
			<integer>334</integer>
			<key>y</key>
			<integer>309</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>mine_02.png</key>
		<dict>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>247</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>mine_03.png</key>
		<dict>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>379</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>mine_04.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>247</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>mine_05.png</key>
		<dict>
			<key>x</key>
			<integer>334</integer>
			<key>y</key>
			<integer>370</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>mine_number.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>220</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>mine_proc.png</key>
		<dict>
			<key>x</key>
			<integer>890</integer>
			<key>y</key>
			<integer>346</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>mine_spend_number.png</key>
		<dict>
			<key>x</key>
			<integer>854</integer>
			<key>y</key>
			<integer>213</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>minitor_screen_box.png</key>
		<dict>
			<key>x</key>
			<integer>856</integer>
			<key>y</key>
			<integer>236</integer>
			<key>width</key>
			<integer>168</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>168</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>monitor_lane_hl.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>10</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>10</integer>
		</dict>
		<key>monitor_unit_left.png</key>
		<dict>
			<key>x</key>
			<integer>826</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>14</integer>
			<key>originalHeight</key>
			<integer>14</integer>
		</dict>
		<key>monitor_unit_right.png</key>
		<dict>
			<key>x</key>
			<integer>826</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>14</integer>
			<key>originalHeight</key>
			<integer>14</integer>
		</dict>
		<key>stage_start_number.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>168</integer>
			<key>width</key>
			<integer>600</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>600</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>z_stage_big.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>315</integer>
			<key>width</key>
			<integer>266</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>266</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
	</dict>
</dict>
</plist>