<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>complete_bg.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>580</integer>
			<key>height</key>
			<integer>392</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>580</integer>
			<key>originalHeight</key>
			<integer>392</integer>
		</dict>
		<key>info.png</key>
		<dict>
			<key>x</key>
			<integer>901</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>info_closed.png</key>
		<dict>
			<key>x</key>
			<integer>938</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>level-up.png</key>
		<dict>
			<key>x</key>
			<integer>582</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>138</integer>
		</dict>
		<key>pause_btn_down.png</key>
		<dict>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>395</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>pause_btn_up.png</key>
		<dict>
			<key>x</key>
			<integer>730</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>percent.png</key>
		<dict>
			<key>x</key>
			<integer>975</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>xp_s.png</key>
		<dict>
			<key>x</key>
			<integer>980</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>z_evolve.png</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>320</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>z_game_over.png</key>
		<dict>
			<key>x</key>
			<integer>739</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>266</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>266</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>z_market.png</key>
		<dict>
			<key>x</key>
			<integer>716</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>z_more.png</key>
		<dict>
			<key>x</key>
			<integer>712</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>z_next.png</key>
		<dict>
			<key>x</key>
			<integer>583</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>z_number.png</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>359</integer>
			<key>width</key>
			<integer>280</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>z_number_small.png</key>
		<dict>
			<key>x</key>
			<integer>735</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>z_okay.png</key>
		<dict>
			<key>x</key>
			<integer>790</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>z_pause.png</key>
		<dict>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>231</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>z_quit.png</key>
		<dict>
			<key>x</key>
			<integer>901</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>z_resume.png</key>
		<dict>
			<key>x</key>
			<integer>583</integer>
			<key>y</key>
			<integer>232</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>138</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>z_retry.png</key>
		<dict>
			<key>x</key>
			<integer>834</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>122</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>z_reward.png</key>
		<dict>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>470</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>470</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>z_stage_complete.png</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>204</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>z_try.png</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>143</integer>
			<key>width</key>
			<integer>388</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>388</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn_down.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>y</key>
			<integer>440</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>156</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>btn_up.png</key>
		<dict>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>441</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>156</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>