<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>btn_cancel_down.png</key>
		<dict>
			<key>x</key>
			<integer>694</integer>
			<key>y</key>
			<integer>165</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>btn_cancel_up.png</key>
		<dict>
			<key>x</key>
			<integer>613</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>btn_closed_down.png</key>
		<dict>
			<key>x</key>
			<integer>904</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>btn_closed_up.png</key>
		<dict>
			<key>x</key>
			<integer>935</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>btn_okay_down.png</key>
		<dict>
			<key>x</key>
			<integer>845</integer>
			<key>y</key>
			<integer>171</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>btn_okay_up.png</key>
		<dict>
			<key>x</key>
			<integer>758</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>dlg_frame.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>498</integer>
			<key>height</key>
			<integer>312</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>498</integer>
			<key>originalHeight</key>
			<integer>312</integer>
		</dict>
		<key>icon_unlock.png</key>
		<dict>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>title_arena.png</key>
		<dict>
			<key>x</key>
			<integer>613</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>title_buy.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>title_sell.png</key>
		<dict>
			<key>x</key>
			<integer>764</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>title_unlock.png</key>
		<dict>
			<key>x</key>
			<integer>856</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>title_upgrade.png</key>
		<dict>
			<key>x</key>
			<integer>845</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>z_city_wall.png</key>
		<dict>
			<key>x</key>
			<integer>503</integer>
			<key>y</key>
			<integer>207</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>z_level.png</key>
		<dict>
			<key>x</key>
			<integer>613</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>z_stope.png</key>
		<dict>
			<key>x</key>
			<integer>654</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>z_troops_slot.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>165</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
	</dict>
</dict>
</plist>