<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>giftpackage_0.jpg</key>
		<dict>
			<key>x</key>
			<integer>22</integer>
			<key>y</key>
			<integer>10</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>giftpackage_1.jpg</key>
		<dict>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>572</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>giftpackage_2_1.jpg</key>
		<dict>
			<key>x</key>
			<integer>551</integer>
			<key>y</key>
			<integer>562</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>giftpackage_2_2.jpg</key>
		<dict>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>291</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>giftpackage_2_3.jpg</key>
		<dict>
			<key>x</key>
			<integer>552</integer>
			<key>y</key>
			<integer>283</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
		<key>giftpackage_2_4.jpg</key>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>7</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>268</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>268</integer>
		</dict>
	</dict>
</dict>
</plist>