<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>giftpackage_bg.png</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>4</integer>
			<key>width</key>
			<integer>508</integer>
			<key>height</key>
			<integer>303</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>508</integer>
			<key>originalHeight</key>
			<integer>306</integer>
		</dict>
		<key>btn_closed_down.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>448</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>btn_closed_up.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>btn_okay_down.png</key>
		<dict>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>319</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>btn_okay_up.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>367</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>