<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>btn_upgrade_disable.png</key>
		<dict>
			<key>x</key>
			<integer>305</integer>
			<key>y</key>
			<integer>248</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>btn_upgrade_down.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>328</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>btn_upgrade_up.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>384</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>icon_stope.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>326</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>icon_wall.png</key>
		<dict>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>upgrade_bg.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>324</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>324</integer>
		</dict>
		<key>z_city_wall.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>205</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>z_upgrade_new.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>z_stope.png</key>
		<dict>
			<key>x</key>
			<integer>308</integer>
			<key>y</key>
			<integer>163</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
	</dict>
</dict>
</plist>