<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>cover_btn_help_down.png</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>218</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>218</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>cover_btn_help_up.png</key>
		<dict>
			<key>x</key>
			<integer>595</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>218</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>218</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>cover_btn_more_down.png</key>
		<dict>
			<key>x</key>
			<integer>439</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>218</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>218</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>cover_btn_more_up.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>218</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>218</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>cover_btn_music_down.png</key>
		<dict>
			<key>x</key>
			<integer>658</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>cover_btn_music_up.png</key>
		<dict>
			<key>x</key>
			<integer>759</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>cover_btn_sound_down.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>cover_btn_sound_up.png</key>
		<dict>
			<key>x</key>
			<integer>806</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>cover_btn_start_down.png</key>
		<dict>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>296</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>cover_btn_start_up.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>296</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>296</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
	</dict>
</dict>
</plist>