<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>arrow_h.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>arrow_v.png</key>
		<dict>
			<key>x</key>
			<integer>555</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>frame.png</key>
		<dict>
			<key>x</key>
			<integer>622</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>help_drag.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>276</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>help_fireball.png</key>
		<dict>
			<key>x</key>
			<integer>284</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>270</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>help_hand.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>help_stope.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>282</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>282</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>help_text_bg.png</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
	</dict>
</dict>
</plist>