<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Cattle_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>484</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>Cattle_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>358</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>Elephant_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>795</integer>
			<key>y</key>
			<integer>393</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>58</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>Elephant_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>726</integer>
			<key>y</key>
			<integer>395</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>58</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>Hippo_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>257</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Hippo_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>horse_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>669</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>horse_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>horse_attack_2_2_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>horse_attack_2_2_4.png</key>
		<dict>
			<key>x</key>
			<integer>791</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>horse_attack_2_2_5.png</key>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>horse_attack_2_2_6.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>117</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>Lion_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>142</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>Lion_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>153</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>pig_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>863</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>pig_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>687</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>pig_attack_2_2_3.png</key>
		<dict>
			<key>x</key>
			<integer>775</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>pig_attack_2_2_4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>rhinoceros_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>rhinoceros_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>814</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>rhinoceros_attack_2_2_3.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>rhinoceros_attack_2_2_4.png</key>
		<dict>
			<key>x</key>
			<integer>610</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>tiger_attack_2_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>756</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>215</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>34.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>153</integer>
		</dict>
		<key>tiger_attack_2_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>471</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>284</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>153</integer>
		</dict>
		<key>tiger_attack_2_3_1.png</key>
		<dict>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_2.png</key>
		<dict>
			<key>x</key>
			<integer>589</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_3.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_4.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_5.png</key>
		<dict>
			<key>x</key>
			<integer>141</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_6.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_7.png</key>
		<dict>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>tiger_attack_2_3_9.png</key>
		<dict>
			<key>x</key>
			<integer>440</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
	</dict>
</dict>
</plist>