<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>castle_1_1.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>castle_1_2.png</key>
		<dict>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>castle_1_3.png</key>
		<dict>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>466</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>castle_2_1.png</key>
		<dict>
			<key>x</key>
			<integer>532</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>castle_2_2.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>castle_2_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>291</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-94.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
	</dict>
</dict>
</plist>