<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>discount.png</key>
		<dict>
			<key>x</key>
			<integer>647</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>57</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>icon_coins.png</key>
		<dict>
			<key>x</key>
			<integer>647</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>icon_crystal.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>141</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>n_coins.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>280</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>n_crystal.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>280</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>z_coins.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>110</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>z_coins_store.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>326</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>326</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>z_crystal.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>btn_down.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>364</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>364</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>btn_up.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>364</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>364</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
	</dict>
</dict>
</plist>